/*Root serve para adicionar variaveis dentro do css*/
:root{
    --rosa:#dc37a8;
    --preta:#141414;
    --rosaclaro:rgb(240, 141, 222);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*faz com que o conteudo não saia da caixa*/
}
body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    color: white;
}
.cabecalho{
    margin-bottom: 5px;
    margin-left: 10px;
    display: flex !important;
    flex-direction: row !important;  
    align-items: center !important;
    justify-content:space-between;
    

}
.logo{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--rosa);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.nav{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
nav a:hover{
    color: var(--rosaclaro);
}
.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url("../img/fundo.jpg");
   
    height:600px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.filme-principal .descricao{
    margin-bottom: 40px;
}
.titulo{
    margin-top: 15%;
    font-size:40px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 1s ease all;
}
.botao:hover{
    background-color: var(--rosaclaro) ; ;
    color: var(--rosa);
}
.botao i{
    margin-right:5px ;
}
.container{
    margin-left: 10px;
}
.filme-principal .container{
    width: 70%;
    margin-left: 15px;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.carrecel-filme{
    margin-top: 3px;
}
